@model TravelTripProject.Models.Siniflar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Blog Ekleme</h2>
<br />
@using (Html.BeginForm("YeniBlog", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Oluşturulma Tarihi")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Görselinin URL'si")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Yazısı")
    @Html.TextAreaFor(x => x.Aciklama, 15, 1, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Blog Ekle</button>
}